@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.padd {
  padding-left: 7%;
  padding-right: 7%;
}

@media (max-width: 767px) {
  .padd {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (max-width: 579px) {
  .padd {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.padd-l {
  padding-left: 7%;
}

@media (max-width: 767px) {
  .padd-l {
    padding-left: 4%;
  }
}

@media (max-width: 579px) {
  .padd-l {
    padding-left: 2%;
  }
}

.padd-r {
  padding-right: 7%;
}

@media (max-width: 767px) {
  .padd-r {
    padding-right: 4%;
  }
}

@media (max-width: 579px) {
  .padd-r {
    padding-right: 2%;
  }
}

/* Hide scrollbar for all browsers */
.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
